.root {
  border-radius: rem(10) !important;          
}

.title {
  color: var(--mantine-color-main-5) !important;
}

.closeButton {
  color: var(--mantine-color-white);
  border-radius: 100% !important;
}